body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: gray;
  box-shadow: 0 2px 2px rgba(0,0,0,.8);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: aliceblue;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list-item div {
  width: 50%;
  text-align: left;
  padding: 0 20px;
}

.list-item img {
  width: 100%;
  border-radius: 20px;
}

.button {
  margin-bottom: 10px;
  text-decoration: none;
  padding: 10px;
  background-color: aquamarine;
  color: white;
  border-radius: 5px;
}

.main-list {
  width: 40%;
  margin: 0 auto;
}

.main-list button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}

.list-element {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  color: black;
}

.list-element div {
  width: 80%;
}

.list-element img {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 4px black;
  border-radius: 10px;
}
